%% -*- mode: erlang -*-
%% ex: ft=erlang ts=2 sw=2 et

[
  {sasl, [
      {sasl_error_logger, false}
    ]},
  {zerpc, [
      {client, [
          {pools, [
              {zep1, [
                  {send_timeout, 5000},
                  {recv_timeout, 5000},
                  {endpoint, "tcp://127.0.0.1:5566"},
                  {size, 5}
                ]}
            ]}
        ]},
      {server, [
          {endpoint, "tcp://*:5566"},
          {size, 5}
        ]}
    ]}
].
