%% -*- mode: erlang -*-
%% ex: ft=erlang ts=2 sw=2 et

[
  {sasl, [
      {sasl_error_logger, false}
    ]},
  {zerpc, [
      {mode, client},
      {pools, [
          {p1, [
              {endpoint, "tcp://127.0.0.1:5566"},
              {size, 5}
            ]},
          {p2, [
              {endpoint, "tcp://127.0.0.1:5566"},
              {size, 5}
            ]}
        ]}
    ]}
].
